 {% extends 'temp/manager.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
    <title>post complaint</title>
</head>
<body>

<form method="post">
{% csrf_token %}
    <h2 style="text-align: center;">post complaint</h2>
	<table align="center">
        <tr>
			<td>title</td>
			<td><input type="text"  name="nm" class="form-control"></td>

		</tr>
		<tr>
			<td>post complaint</td>
			<td><textarea  name="cmpm" class="form-control"></textarea></td>

		</tr>
		<tr>
			<td></td>
			<td><input type="submit" name="submit" class="btn btn-primary"></td>
		</tr>
	</table>
</form>
</body>
</html>
{% endblock %}