{% extends 'temp/manager.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h2>view and replay complaint</h2></center>
<table border="" align="center">

    <tr>
        <th>complaint</th>
        <th>replay</th>
         <th>date</th>
    </tr>
    {%for i in objval%}
    <tr>
        <td>{{ i.title }}</td>
        <td>{{ i.reply }}</td>
        <td>{{ i.replay_date }}</td>

    </tr>
    {% endfor %}

</table>
</body>
</html>
{% endblock %}