{% extends 'temp/manager.html' %}
{% block base %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="" align="center">
    <tr>
        <th>title</th>
        <th>description</th>
        <th>file</th>

        <th>assign date</th>
        <th>due date</th>
        <th>summary</th>
        <th>feedback</th>
    </tr>
    {% for i in x %}
    <tr>
        <td>{{i.title}}</td>
        <td>{{ i.description }}</td>
        <td><img src="/static/{{ i.file_attach }}" height="50px" width="50px"><a href="/static/{{ i.file_attach }}" class="btn btn-primary">open</a></td>

        <td>{{ i.assign_date }}</td>
        <td>{{ i.due_date }}</td>
        <td><a href="{% url 'vs' idd=i.mt_id %}#cc" class="btn btn-primary">summary</a> </td>
        <td><a href="{%  url 'pfeed' idd=i.mt_id%}#cc" class="btn btn-primary">feedback</a></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}