{% extends 'temp/admin.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table align="center" border="2">
    <tr>
        <th>Title</th>
        <th>Start date</th>
        <th>Due date</th>
        <th>Task Status</th>
    </tr>
    {% for i in x %}
    <tr>
        <td>{{ i.title }}</td>
        <td>{{ i.start_date }}</td>
        <td>{{ i.due_date }}</td>
        <td>{{ i.m_status }}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
{% endblock %}