{% extends 'temp/taskmanager.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
<center><h2>Assign Task To TaskManager</h2></center>
    <table align="center" class="table table-striped">
     <tr>
        <td>Main Task Name</td>
        <td><input type="text" value="{{ b.title }}"></td>
    </tr>
{#    <tr>#}
{#        <td>Sub title</td>#}
{#        <td><input type="text" name="s_title"></td>#}
{#    </tr>#}
    <tr>
        <td>description</td>
        <td><textarea name="dec"></textarea></td>
    </tr>
    <tr>
        <td>file attach</td>
        <td><input type="file" name="file"></td>
    </tr>
    <tr>
        <td>Employee</td>
        <td><select name="employee">
            {% for i in objval1 %}
            <option value="{{ i.emp_id }}">{{ i.name }}</option>
            {% endfor %}
        </select> </td>
    </tr>
     <tr>
        <td>due date</td>
        <td><input type="date" name="d_date" class="form-control"></td>
    </tr>
     <tr>
        <td>deadline </td>
        <td><input type="date" name="dd_date" class="form-control"></td>
    </tr>
     <tr>
        <td></td>
        <td><input type="submit" class="btn btn-primary"></td>
    </tr>
</table>
</form>
</body>
</html>
{% endblock %}