 {% extends 'temp/manager.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="2">
    <tr>
        <th>title</th>
        <th>Sub Title</th>
        <th>Feedback</th>
        <th>Date</th>
    </tr>
    {% for i in x %}
    <tr>
        <td>{{ i.m_task }}</td>
        <td>{{ i.subtitle }}</td>
        <td>{{ i.feedback }}</td>
        <td>{{ i.feed_date }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
{% endblock %}