<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="">
    <tr>
        <th>Id</th>
        <th>name</th>
        <th>address</th>
        <th>qualification</th>
        <th>department</th>
        <th>experiance</th>
        <th>dob</th>
        <th>email</th>
        <th>contact no</th>
        <th>status</th>
        <th>rating</th>
        <th></th>
    </tr>
    {% for i in objval %}
    <tr>
        <td>{{ i.emp_id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.address }}</td>
        <td>{{ i.qualification }}</td>
        <td>{{ i.department }}</td>
        <td>{{ i.experience }}</td>
        <td>{{ i.dob }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.contact_no }}</td>
        <td>{{ i.status }}</td>
        <td>{{ i.rating }}</td>
        <td><a href="" >update status</a></td>
    </tr>
    {% endfor %}
</table>

</body>
</html>