{% extends 'temp/admin.html' %}
{% block base %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><h2>view department</h2></center>
<table border="" align="center" class="table table-striped">

    <tr>
        <th>Department</th>
                <th>Description</th>

    </tr>
    {%for i in objval%}
    <tr>
        <td>{{ i.name}}</td>
     <td>{{ i.description}}</td>
    </tr>
    {% endfor %}

</table>
</body>
</html>
{% endblock %}